$MainColor: slategrey;
$MainTextColor: white;
$AltBackColor: rgb(252, 166, 181);
$AllButtonColor: rgb(234, 12, 12);

.App {
    text-align: center;
}

button {
    color: $AllButtonColor;
    
}

// work on coloring with header & layout
// header {
//     background-color: $AllButtonColor;
//     border-color: red 4px;
// }


body {
    align-content: center;
    display: flex;
    justify-content: center;
    background-color: $MainColor;
    text-align: center;
    height: 100vh;
    width: auto;
}

.Box {
    background-color: $AltBackColor;
}

.Styles {
    background-color: $AltBackColor;
}

